<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-account">
      <h3>{{ 'Account' | translate }}</h3>
      <ul>
        <li><a routerLink="/account">{{ 'Login' | translate }} &amp; {{ 'Register' | translate }}</a></li>
        <li><a routerLink="/wishlist">{{ 'Wishlist' | translate }}</a></li>
        <li><a routerLink="/collection">{{ 'Collection' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-collection">
      <h3>{{ 'The Collection' | translate }}</h3>
      <ul>
        <li>
          <a
            routerLink="/shopping"
            [queryParams]="{ type: 'DVD' }"
          >DVD</a
          >
        </li>
        <li>
          <a
            routerLink="/shopping"
            [queryParams]="{ type: 'Blu-ray' }"
          >Blu‑ray</a
          >
        </li>
        <li>
          <a
            routerLink="/shopping"
            [queryParams]="{ type: '4K Ultra HD' }"
          >4K UHD</a
          >
        </li>
        <li>
          <a routerLink="/boxsets/special-edition">Box sets</a>
        </li>
      </ul>
    </div>


    <div class="footer-giftcards">
      <h3>Gift Cards</h3>
      <ul>
        <li><a routerLink="/giftcards/physical">Physical Gift Cards</a></li>
        <li><a routerLink="/giftcards/gift-a-movie">Gift a Movie</a></li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h3>{{ 'Newsletter' | translate }}</h3>
      <form (submit)="subscribeNewsletter(emailInput.value); emailInput.value=''">
        <input #emailInput type="email" [placeholder]="'Email address' | translate" required />
        <button type="submit">{{ 'Subscribe' | translate }}</button>
      </form>
    </div>

    <div class="footer-manufacturers">
      <h3>Manufacturers</h3>
      <ul>
        <li><a href="https://www.criterion.com/" target="_blank" rel="noopener noreferrer">Criterion Collection</a></li>
        <li><a href="https://eurekavideo.co.uk/" target="_blank" rel="noopener noreferrer">Masters of Cinema</a></li>
        <li><a href="https://www.bfi.org.uk/" target="_blank" rel="noopener noreferrer">British Film Institute</a></li>
      </ul>
    </div>
  </div>


  <div class="footer-bottom">
    <p>&copy; 2026 Home Cinema Project. All rights reserved.</p>
  </div>
</footer>
