<div class="media-slider">
  @if (shouldShowArrows) {
    <button class="media-arrow-btn media-arrow-btn-prev" (click)="prev()" aria-label="Previous media">
      <svg
        width="28"
        height="28"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <polyline
          points="14 6 8 12 14 18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  }

  @if (items.length) {
    <div class="media-content">
      @switch (items[currentIndex].type) {

        @case ('image') {
          <img [src]="items[currentIndex].url" alt="Media image" />
        }

        @case ('video') {
          <iframe
            [src]="items[currentIndex].url | safeUrl"
            frameborder="0"
            allowfullscreen
            width="560"
            height="315"
          ></iframe>
        }

      }
    </div>
  }

  @if (shouldShowArrows) {
    <button class="media-arrow-btn media-arrow-btn-next" (click)="next()" aria-label="Next media">
      <svg
        width="28"
        height="28"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
      >
        <polyline
          points="10 6 16 12 10 18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  }
</div>
