.loading-text {
  color: white;
  text-align: center;
  position: fixed;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  opacity: 0.8;
  margin: 0;
  pointer-events: none;
}

.loading-text-mobile {
  display: none;
}

@media (max-width: 768px) {
  .loading-text {
    top: 14px;
    left: calc(50% - 24px);
  }

  .loading-text-desktop {
    display: none;
  }

  .loading-text-mobile {
    display: inline;
  }
}
