.loading-text {
  color: white;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  opacity: 0.8;
  margin: 0;
  pointer-events: none;
}
