<!--<nav class="navbar-filters">-->
<!--  <div class="navbar-container">-->
<!--    <form class="filters-form" (ngSubmit)="onFiltersChange()">-->

<!--      <select [(ngModel)]="filters.director" name="director" (change)="onFiltersChange()">-->
<!--        <option value="">Alle regisseurs</option>-->
<!--        <option *ngFor="let director of uniqueDirectors" [value]="director">{{ director }}</option>-->
<!--      </select>-->

<!--      <select [(ngModel)]="filters.country" name="country" (change)="onFiltersChange()">-->
<!--        <option value="">Alle landen</option>-->
<!--        <option *ngFor="let country of uniqueCountries" [value]="country">{{ country }}</option>-->
<!--      </select>-->

<!--      <select [(ngModel)]="filters.brand" name="brand" (change)="onFiltersChange()">-->
<!--        <option value="">Alle brands</option>-->
<!--        <option *ngFor="let brand of uniqueBrands" [value]="brand">{{ brand }}</option>-->
<!--      </select>-->

<!--      <select [(ngModel)]="filters.year" name="year" (change)="onFiltersChange()">-->
<!--        <option value="">Alle jaren</option>-->
<!--        <option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</option>-->
<!--      </select>-->

<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
